@import 'reset';
@import 'breakpoints';
@import 'common';
@import 'colors';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body,
p,
button,
input {
	font-size: var(--font-size);
	font-family: 'Comfortaa', sans-serif;
}

html {
	background-color: var(--primary-background);
	color: var(--primary-font-color);
	font-family: 'Comfortaa', sans-serif;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

body>div {
	height: 100%;
}

h1 {
	font-size: var(--font-size-xl);
}

h2 {
	font-size: var(--font-size-lg);
}

h3 {
	font-size: var(--font-size-lg);
}

a {
	color: var(--secondary-accent-2);
}