@import 'reset';
@import 'breakpoints';
@import 'common';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body, p, button, input {
    font-size: 1rem;
}

html {
    background-color: var(--primary-background);
    color: var(--primary-font-color);
    font-family: 'Comfortaa', sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

input {
    border-radius: 0.2rem;
    padding: 0.4rem
}