html {
	font-size: 62.5%;
	font-family: 'Comfortaa', sans-serif;
}

body, form, input, button, textarea {
	font-size: 1.6rem;
	font-family: 'Comfortaa', sans-serif;
}

input {
	padding: 1rem;
	border-radius: 5px;
}

* {
	box-sizing: border-box;
}

h2 {
	margin: 0;
}