$primary-accent: #407D81;
$secondary-accent: #405281;
$primary-background: #32323D;
$secondary-background: #332A3E;
$red: #A74949;
$white: #fff;
$primary-font-color: #fff;
$boxshadow-color: rgba(0, 0, 0, 0.5);